# === General ===
**/.DS_Store
**/Thumbs.db

# === Node.js (cualquier carpeta)
**/node_modules/
**/package-lock.json
**/.env
**/coverage/
**/logs/
**/*.log
**/*.pid
**/pids/

# === Angular (cualquier carpeta)
**/dist/
**/.angular/
**/.env.*
**/.cache/

# === IDEs and system ===
**/.idea/
**/.vscode/
**/*.sublime-project
**/*.sublime-workspace
